.login{
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.login > input{
    border-radius: 8px;
    border: 1px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: .5rem 0;
    padding: .5rem .75rem;
    width: 90%;
    font-size: 1rem;
}

.login > .button {
    background: #1877f2;
    border:none;
    color: #fff;
    font-size: 1rem;
    padding: .5rem;
    margin:0.5rem 0 ;
    width: 50%;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}